# Git
.git
.github
.gitignore
.pre-commit-config.yaml

# Python
.venv
__pycache__
*.pyc
.pytest_cache
.ruff_cache
.coverage

# IDE
.vscode
.DS_Store
.editorconfig
.python-version

# Project
.kbm
.kbm.*
.env
docs/
scripts/
tests/

# Docker
docker/*.yaml
docker/Dockerfile
