[project]
name = "kbm"
version = "0.1.0"
description = "Persistent memory for LLMs, accessible via MCP."
readme = "README.md"

requires-python = ">=3.12"
dependencies = []

[dependency-groups]
dev = []

[project.scripts]
kbm = "app.main:main"

[build-system]
requires = ["uv_build>=0.9,<0.10"]
build-backend = "uv_build"

[tool.uv.build-backend]
module-name = "app"
